:root {
    --section-overlay: rgba(0, 0, 0, 0.5);
    --background-overlay: rgba(0, 0, 0, 0.3);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* font-family: "Times New Roman"*/;
}

.App {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: var(--background-overlay);
}

.container {
    max-width: 700px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
}

.section {
    width: 100%;
    padding: 1rem;
    border-radius: 0.2rem;
    color: #ede9e9;
}

.section_inputs, .section_temperature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--section-overlay);
}

.section_inputs > input {
    border: 1px solid aliceblue;
    border-radius: 0.2rem;
    background-color: transparent;
    color: aliceblue;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 200;
}
.section_inputs>input:focus {
    outline: none;
}

.section_inputs>button {
    padding: 10px 40px;
    border: none;
    border-radius: 0.2rem;
    font-size: 20px;
    font-weight: 600;
    background-color: lightblue;
}

.section_inputs>button:hover {
    cursor: pointer;
    background-color: transparent;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon>h4{
    font-size: 25px;
    font-weight: 300;
    text-transform: capitalize;
}
.temperature>h2{
    font-size: 50px;
}